@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-main {
  color: #fff;
  background-color: #564493 !important;
  border-radius: 40px;
  text-decoration: none;
  font-size: 18px;
}

.btn-main:visited {
  color: white;
}

.btn-main:hover {
  text-decoration: underline;
}

.heading-main {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #564493;
}

@media all and (max-width: 766px) {
  .heading-main {
    font-size: 28px;
    line-height: 31px;
    text-align: center;
  }
}

.devider-main {
  width: 200px;
  height: 5px;
  background-color: rgba(196, 196, 196, 0.21);
}

.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media all and (max-width: 766px) {
  .paragraph {
    text-align: center;
  }
}

.bg-color-secondary {
  background-color: #f3f8fb;
}

.bigger-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #564493;
}

.small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #564493;
}

.small-text-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #564493;
}

.small-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #564493 !important;
  position: absolute;
  margin-top: -50px;
  margin-left: 50px;
}

.overflow-hidden {
  overflow: hidden;
}

@media all and (max-width: 766px) {
  .center-text-mobile {
    text-align: center;
  }
}

.two-images .top-img {
  margin-top: -33%;
  margin-left: 12%;
}

@media all and (max-width: 766px) {
  .two-images .top-img {
    margin-top: -39%;
    margin-left: 10%;
  }
}

@media all and (max-width: 766px) {
  .two-images .behind-img img {
    width: 50%;
  }
}

.container.container-width {
  max-width: 1000px !important;
}

.one-row-person {
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border: 1px solid #818181 !important;
  border-radius: 17px !important;
  padding-left: 25px !important;
  height: calc(1.5em + 0.75rem + 10px);
  width: 405px !important;
}

.form-control::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.form-control:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.form-control::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.form-control::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

#pass {
  margin-top: -30px !important;
}

#wp-submit {
  color: #fff;
  background-color: #564493;
  border-radius: 40px;
  padding: 12px 30px;
  width: 200px;
}

.registerBtn {
  color: #fff !important;
  background-color: #564493 !important;
  border-radius: 40px !important;
  padding: 12px 30px;
  width: 200px;
}

.navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.navigation .navbar {
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media all and (max-width: 766px) {
  .navigation .navbar {
    position: absolute;
    overflow: auto;
    padding: 0;
  }
  .navigation .navbar .navbar-brand {
    padding: 1rem 0 1rem 1rem;
  }
}

.navigation .navbar .navbar-toggler {
  border-color: #fff !important;
  margin-top: -5px;
}

.navigation .navbar .navbar-toggler[aria-expanded="false"] .icon-close {
  display: none;
}

.navigation .navbar .navbar-toggler[aria-expanded="true"] .icon-bar {
  display: none;
}

@media all and (max-width: 1024px) {
  .navigation .navbar .navbar-collapse.show .navbar-nav {
    padding-top: 45px;
    padding-left: 3em;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media all and (max-width: 766px) {
  .navigation .navbar .navbar-collapse .navbar-nav {
    padding-top: 45px;
    padding-left: 3em;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.navigation .navbar .navbar-collapse .navbar-nav .nav-item {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1024px) {
  .navigation .navbar .navbar-collapse .navbar-nav .nav-item {
    font-size: 14px;
  }
}

.navigation .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #564493;
}

.navigation .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-main {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

@media all and (max-width: 1024px) {
  .navigation .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-main {
    max-width: 102px;
  }
}

.navigation .navbar .navbar-collapse .navbar-nav .nav-item .active .nav-link {
  color: #564493 !important;
}

@media all and (max-width: 1024px) {
  .navigation .social-links {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#menu-soc-links {
  margin-right: 50px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links a {
  margin-right: 10px;
}

.mobile-menu-img {
  width: 100%;
  background-image: url("../img/bg-img-mobile.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-opened {
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-opened .navbar-collapse-content {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.position-fixed {
  position: fixed;
}

.footer {
  padding-top: 73px;
  background-color: #564493;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (max-width: 766px) {
  .footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 766px) {
  .footer .footer-content > div {
    text-align: center;
    margin-bottom: 40px;
  }
}

.footer .footer-content .devider {
  width: 87px;
  height: 6px;
  background-color: #fff;
  margin-bottom: 12px;
  margin-left: 100px;
}

@media all and (max-width: 766px) {
  .footer .footer-content .devider {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer .footer-content .footer-nav {
  list-style-type: none;
}

.footer .footer-content .footer-nav .footer-nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer .footer-content .footer-nav .footer-nav-item .footer-nav-link {
  color: #fff;
  text-decoration: none;
}

.footer .footer-content .footer-nav .footer-nav-item .footer-nav-link:hover {
  text-decoration: none;
  color: #fff;
}

@media all and (max-width: 766px) {
  .footer .footer-content .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
}

.footer .white-fb {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
}

.two-columns-text-img,
.register {
  background-image: url("../img/bg-blue.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 77%;
}

@media all and (max-width: 766px) {
  .two-columns-text-img,
  .register {
    background-size: unset;
  }
}

.two-columns-text-img .fllying-objects,
.register .fllying-objects {
  position: absolute;
  top: -15%;
  left: -10%;
}

@media all and (max-width: 766px) {
  .two-columns-text-img .devider-main,
  .register .devider-main {
    margin-left: auto;
    margin-right: auto;
  }
}

.two-columns-text-img .mobile-bg-top,
.register .mobile-bg-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.two-columns-text-img .mobile-bg-top img,
.register .mobile-bg-top img {
  width: 100%;
}

.two-columns-text-img.contacts .two-images .img-1 img,
.register.contacts .two-images .img-1 img {
  width: 43%;
}

@media all and (max-width: 1024px) {
  .two-columns-text-img.contacts .two-images .img-1 img,
  .register.contacts .two-images .img-1 img {
    width: 50%;
  }
}

.two-columns-text-img.contacts .two-images .img-2,
.register.contacts .two-images .img-2 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(15%, -37%);
          transform: translate(15%, -37%);
}

.contacts .two-images {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 766px) {
  .contacts .column-content {
    text-align: center;
  }
}

.contacts .column-content .btn-main {
  padding: 13px 54px;
}

.contacts .column-content .btn-main:hover {
  color: #fff;
  text-decoration: none;
}

.contacts .fllying-objects {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media all and (max-width: 1024px) {
  .contacts .fllying-objects {
    right: -8%;
  }
}

.partners .paragraph {
  max-width: 100%;
  width: 730px;
  margin: 0 auto;
}

@media all and (max-width: 766px) {
  .partners .paragraph {
    padding-left: 0;
    padding-right: 0;
  }
}

.partners .section-images {
  margin-top: 60px;
  max-width: 100%;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .section-images .img-box {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3F8FB;
  border-radius: 23px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-bottom: 25px;
}

.partners .section-images .img-box img {
  width: 150px;
  height: 150px;
}

@media all and (max-width: 766px) {
  .partners .section-images .img-box {
    width: 147px;
    height: 147px;
  }
  .partners .section-images .img-box img {
    width: 100px;
    height: 100px;
  }
}

@media all and (max-width: 766px) {
  .partners .section-images {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.partners .fllying-objects {
  position: absolute;
  top: 50px;
  left: 0;
}

.partners.with-flying-objects .fllying-objects_ {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.partners.with-flying-objects .fllying-objects_.left-side {
  top: 5%;
  left: -7%;
}

.partners.with-flying-objects .fllying-objects_.right-side {
  top: 16%;
  right: -6%;
}

.cards {
  overflow: hidden;
}

.cards .paragraph {
  max-width: 100%;
  width: 730px;
  margin: 0 auto;
}

.cards .flip-card {
  height: 300px;
}

.cards .card_,
.cards .flip-card {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
          box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
  border-radius: 9px;
  padding: 50px 12px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cards .card_ .flip-card-inner,
.cards .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cards .card_ .card-title,
.cards .flip-card .card-title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #564493;
  margin-top: 30px;
  min-height: 65px;
}

.cards .card_ .card-img,
.cards .flip-card .card-img {
  height: 73px;
}

.cards .card_ .card-text,
.cards .flip-card .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #818181;
}

.cards .card_:hover .flip-card-inner,
.cards .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cards .card_ .flip-card-front,
.cards .card_ .flip-card-back,
.cards .flip-card .flip-card-front,
.cards .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.cards .card_ .flip-card-front,
.cards .flip-card .flip-card-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .card_ .flip-card-back,
.cards .flip-card .flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: left;
}

.cards .card_ .flip-card-back .flip-card-back-list,
.cards .flip-card .flip-card-back .flip-card-back-list {
  text-align: left;
  padding-left: 30px;
}

.cards .card_ .flip-card-back .flip-card-back-list .card-back-list-item,
.cards .flip-card .flip-card-back .flip-card-back-list .card-back-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.cards .fllying-objects {
  position: absolute;
}

.cards .fllying-objects.left-side {
  top: 50px;
  left: 0;
  z-index: -1;
}

@media all and (max-width: 766px) {
  .cards .fllying-objects.left-side {
    top: 50%;
    left: -25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.cards .fllying-objects.right-side {
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media all and (max-width: 766px) {
  .cards .fllying-objects.right-side {
    bottom: 55%;
    right: -20%;
  }
}

.cards.cards_team .card_ {
  height: 450px;
  padding: 0 0 20px 0;
}

.cards.cards_team .card_ .card-title {
  font-size: 20px;
  line-height: 22px;
  min-height: unset;
}

.cards.cards_team .card_ .card-img {
  height: unset;
  border-radius: 9px !important;
}

.cards.cards_team .card_ .card-img img {
  width: 100%;
  border-radius: 9px !important;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards.cards_courses .fllying-objects.right-side {
  bottom: 50px;
}

.cards .btn-main {
  padding: 10px 30px;
}

.cards .btn-main:hover {
  color: #fff;
}

.gallery-section {
  background-image: url("../img/bg-turned.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 44%;
}

@media all and (max-width: 766px) {
  .gallery-section {
    background-position: bottom left;
    background-size: unset;
  }
}

.gallery-section .grid-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (209px)[3];
      grid-template-rows: repeat(3, 209px);
  gap: 20px;
  width: 920px;
  max-width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 766px) {
  .gallery-section .grid-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .gallery-section .grid-gallery .gallery__item {
    grid-column: span 1 !important;
  }
}

.gallery-section .grid-gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.gallery-section .grid-gallery .grid-col-3 {
  grid-column: span 3;
}

.gallery-section .grid-gallery .grid-row-2 {
  grid-row: span 2;
}

.gallery-section .grid-gallery .grid-col-2 {
  grid-column: span 2;
}

.gallery-section .grid-gallery .grid-col-4 {
  grid-column: span 4;
}

.gallery-section .pic-quote {
  width: 700px;
  max-width: 100%;
  margin: 100px auto 0;
}

.gallery-section .pic-quote .pic-quote-img .dot {
  position: absolute;
}

.gallery-section .pic-quote .pic-quote-img .dot.dot1 {
  top: 0;
  left: 0;
}

.gallery-section .pic-quote .pic-quote-img .dot.dot2 {
  top: 20px;
  right: 0;
}

.gallery-section .pic-quote .pic-quote-img .dot.dot3 {
  bottom: 0;
  left: 0;
}

.gallery-section .pic-quote .section-text .paragraph {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.gallery-section .pic-quote .section-text .paragraph img {
  margin-top: -15px;
  margin-left: 10px;
}

@media all and (max-width: 766px) {
  .gallery-section .pic-quote .section-text {
    margin-top: 60px;
  }
  .gallery-section .pic-quote .section-text .paragraph img {
    margin-bottom: -20px;
  }
}

.gallery-section .fllying-objects {
  position: absolute;
}

.gallery-section .left-side {
  top: 10%;
  left: -10%;
}

.gallery-section .right-side {
  top: 40%;
  right: -10%;
}

.section_cards_courses .container-width .paragraph {
  max-width: 100%;
  width: 730px;
  margin: 0 auto;
}

.section_cards_courses .container-width .fllying-objects_ {
  position: absolute;
}

.section_cards_courses .container-width .fllying-objects_.left-side {
  top: 67%;
  left: -20%;
}

.section_cards_courses .container-width .fllying-objects_.right-side {
  top: 80%;
  right: -20%;
}

.section_cards_courses .fllying-objects {
  position: absolute;
}

.section_cards_courses .fllying-objects.left-side {
  top: 50px;
  left: 0;
  z-index: -10;
}

@media all and (max-width: 766px) {
  .section_cards_courses .fllying-objects.left-side {
    top: 50%;
    left: -25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.section_cards_courses .fllying-objects.right-side {
  bottom: 50%;
  right: 0;
  z-index: -10;
}

@media all and (max-width: 766px) {
  .section_cards_courses .fllying-objects.right-side {
    bottom: 55%;
    right: -20%;
  }
}

.cards_locations .card_,
.profile-card .card_ {
  padding: 40px 0;
}

@media all and (max-width: 766px) {
  .cards_locations .card_,
  .profile-card .card_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards_locations .card_::after,
.profile-card .card_::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 15%;
  top: 2%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
          box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
  border-radius: 9px;
  display: block;
  z-index: -1;
  background-color: #fff;
}

@media all and (max-width: 766px) {
  .cards_locations .card_::after,
  .profile-card .card_::after {
    width: 100%;
    left: unset;
    top: 27%;
    margin: 0 auto;
    height: calc(100% - 114px);
  }
}

@media all and (max-width: 766px) {
  .cards_locations .card_ .img-card,
  .profile-card .card_ .img-card {
    text-align: center;
  }
  .cards_locations .card_ .img-card img,
  .profile-card .card_ .img-card img {
    width: 240px;
  }
}

.cards_locations .card_ .card-title,
.profile-card .card_ .card-title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #564493;
  max-width: 400px;
  width: 100%;
}

@media all and (max-width: 766px) {
  .cards_locations .card_ .card-title,
  .profile-card .card_ .card-title {
    text-align: center;
  }
}

.cards_locations .card_ .card-info > div,
.profile-card .card_ .card-info > div {
  width: 15px;
}

.cards_locations .card_ .card-info .card-small-text,
.profile-card .card_ .card-info .card-small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  max-width: 400px;
  width: 100%;
}

.cards_locations .card_ .card-info .card-small-text a,
.profile-card .card_ .card-info .card-small-text a {
  color: #818181;
}

.cards_locations .card_ .card-info .card-small-text a:hover,
.profile-card .card_ .card-info .card-small-text a:hover {
  text-decoration: none;
}

.main-form .form-control {
  border: 1px solid #818181;
  border-radius: 17px;
  padding-left: 25px !important;
  height: calc(1.5em + 0.75rem + 10px);
}

.main-form .form-control::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.main-form .form-control:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.main-form .form-control::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.main-form .form-control::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.main-form .form-buttons .btn-main {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 12px 30px;
  width: 200px;
}

.main-form .form-buttons .btn-secondary {
  color: #564493;
  background-color: transparent;
  border: unset;
}

.main-form .form-buttons .btn-secondary:focus {
  color: #564493;
  background-color: transparent !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

@media all and (max-width: 766px) {
  .main-form .form-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hidden {
  display: none;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #818181;
  border-radius: 17px;
  padding-left: 25px !important;
  height: calc(1.5em + 0.75rem + 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 9px;
  right: 17px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  padding-left: 0 !important;
}

.register {
  display: none;
}

.text-section .breadcrumb {
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 0;
  margin-bottom: 2rem;
}

.text-section .breadcrumb .breadcrumb-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.text-section .breadcrumb .breadcrumb-item a {
  color: #564493;
}

.text-section .breadcrumb .breadcrumb-item.active {
  text-decoration: none;
}

.text-section .breadcrumb .breadcrumb-item.active::before {
  content: ">";
}

.text-section .heading-main {
  text-transform: uppercase;
}

.text-section .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.text-section .navbar-nav {
  display: block;
}

.text-section .navbar-nav ul {
  padding-left: 20px;
}

.text-section .navbar-nav ul li::marker {
  color: #564493;
}

.text-section .navbar-nav .nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: underline;
  color: #564493;
}

.text-section .navbar-nav .nav-item.active {
  font-weight: 700;
  color: #564493;
}

.text-section .navbar-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

@media all and (max-width: 766px) {
  .text-section .top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-section .top-content .heading-main {
    text-align: left;
    width: 100%;
    margin-top: 30px;
  }
}

.text-section .contain {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.text-section .contain a {
  color: #564493;
}

.text-section .contain .devider-main {
  margin-top: 70px;
}

.text-section .main-list {
  padding-left: 0;
}

@media all and (max-width: 766px) {
  .text-section .main-list {
    padding-left: 12px;
  }
}

.text-section .secondary-list {
  padding-left: 20px;
}

.text-section .secondary-list-1 {
  list-style-type: disc;
  padding-left: 20px;
}

.text-section .text-content {
  margin: 20px 0;
}

.text-section .flying-objects {
  position: absolute;
}

.text-section .flying-objects.left-side {
  top: 50px;
  left: 0;
  z-index: -1;
}

.text-section .flying-objects.right-side {
  bottom: 50px;
  right: 0;
  z-index: -1;
}

.height-100 {
  height: 100%;
}

@media all and (max-width: 766px) {
  .video-section .heading-main {
    font-size: 26px;
  }
}

.video-section .bottom-heading {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.video-section .video-container {
  position: relative;
}

.video-section .video-container .content .video-img {
  border: 5px solid #564493;
  border-radius: 11px;
}

.video-section .video-container .video-title {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0 10px;
  text-align: center;
}

.video-section .video-container .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-section .slider {
  margin-top: 40px;
}

.video-section .slider .slick-slide {
  padding-left: 5px;
  padding-right: 5px;
}

.video-section .slider .slick-dots {
  bottom: -35px;
}

.video-section .slider .slick-dots li button:before,
.video-section .slider .slick-dots li.slick-active button:before {
  color: transparent;
  opacity: 1;
}

.video-section .slider .slick-dots li button:before {
  background-color: transparent;
  border: 1px solid #564493;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.video-section .slider .slick-dots li.slick-active button:before {
  background-color: #564493;
}

.video-section .slider .slick-next {
  position: absolute;
  top: 50%;
  right: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-section .slider .slick-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-section .fllying-objects {
  position: absolute;
}

.video-section .fllying-objects.left-side {
  top: 50px;
  left: 0;
  z-index: -1;
}

.video-section .fllying-objects.right-side {
  bottom: 50px;
  right: 0;
  z-index: -1;
}

.accordion-section {
  background-image: url(../img/bg-blue.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 43%;
  counter-reset: section;
}

@media all and (max-width: 766px) {
  .accordion-section {
    background-size: unset;
    padding-top: 0;
  }
  .accordion-section .devider-main {
    margin-left: auto;
    margin-right: auto;
  }
}

.accordion-section #accordion {
  margin-top: 70px;
}

.accordion-section .card {
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid transparent;
}

.accordion-section .card .card-header {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid transperant;
}

.accordion-section .card .card-header h5 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.accordion-section .card .card-header h5 .btn-link {
  color: #000000;
  text-align: left;
}

.accordion-section .card .card-header h5::before {
  counter-increment: section;
  content: counter(section);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  background-color: #564493;
  border-radius: 50%;
  padding: 10px 15px;
}

.accordion-section .card .card-header .card-arrow {
  margin-left: auto;
  cursor: pointer;
}

.accordion-section .card .card-body-links a {
  color: #564493;
}

.accordion-section .fllying-objects {
  position: absolute;
}

.accordion-section .fllying-objects.left-side {
  top: 30%;
  left: -15%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-section .fllying-objects.right-side {
  bottom: 7%;
  right: -15%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.samples .paragraph {
  max-width: 100%;
  width: 730px;
  margin: 0 auto;
}

.samples .samples_form {
  margin-top: 80px;
}

.samples .samples_form .sample {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
          box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
  border-radius: 9px;
  padding: 20px 33px;
}

@media all and (max-width: 766px) {
  .samples .samples_form .sample {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.samples .samples_form .sample-name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #564493;
}

.samples .samples_form .sample-btn {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 10px 30px;
  border-color: #564493;
}

@media all and (max-width: 766px) {
  .samples .samples_form .sample-btn {
    margin-top: 40px;
  }
}

.samples .card {
  border-radius: 9px;
  border: unset !important;
}

.samples .fllying-objects {
  position: absolute;
}

.samples .fllying-objects.left-side {
  top: 250px;
  left: 0;
  z-index: -1;
}

.samples .fllying-objects.right-side {
  bottom: 50px;
  right: 0;
  z-index: -1;
}

.main-table {
  -webkit-box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15) !important;
          box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15) !important;
}

.main-table table {
  counter-reset: row-num;
}

.main-table table tbody tr {
  counter-increment: row-num;
}

.main-table table tbody tr th {
  text-align: center;
}

.main-table table tbody tr th::before {
  content: counter(row-num);
}

@media all and (max-width: 766px) {
  .main-table table tbody tr th {
    padding-right: 0 !important;
  }
}

.main-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4efff !important;
}

.main-table th,
.main-table td {
  vertical-align: middle;
  border-top: unset !important;
}

.main-table thead {
  background-color: #564493;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@media all and (max-width: 766px) {
  .main-table thead {
    font-size: 14px;
  }
}

.main-table .table-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media all and (max-width: 766px) {
  .main-table .table-text {
    font-size: 14px;
  }
}

.main-table .student-name {
  color: #564493;
  text-decoration: underline;
  text-align: left;
}

.main-table .student-class,
.main-table .student-direction,
.main-table .form-date {
  color: #818181;
  margin-bottom: 0;
}

.main-table .form-name {
  color: #564493;
}

.main-table .status-waiting {
  color: #818181;
}

.main-table .status-approved {
  color: #0fba00;
}

.main-table .status-rejected {
  color: #c80000;
}

.heading-smaller {
  font-size: 24px;
}

.heading-smaller span {
  color: #adaaaa;
}

.heading-smaller .form-counter {
  font-size: 16px;
}

.btn-load {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #564493;
  margin-left: 8%;
  margin-top: 16px;
}

.profile-card .card_ .card-info > div {
  width: unset !important;
}

.profile-card {
  z-index: 22;
}

.profile-card::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  background-color: #f3f8fb;
}

.profile-card .light {
  color: #bbbbbb !important;
}

.profile-card .dark {
  color: #848484 !important;
}

.profile-card .main-list {
  list-style-type: none;
  padding-left: 0;
}

.profile-card .border-top {
  border-top: 1px solid #f3f3f3;
}

.profile-card .card_::after {
  left: 8%;
  top: -2%;
  width: 100%;
}

.profile-card .profile-card-options {
  padding-left: 10%;
}

@media all and (max-width: 766px) {
  .profile-card .profile-card-options {
    margin-top: 50px !important;
    padding-left: 4%;
  }
}

.profile-card .profile-card-options .profile-links:first-child {
  margin-right: 15%;
}

.profile-card .profile-card-options .profile-links a {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #564493;
}

.profile-card .fllying-objects {
  position: absolute;
}

.profile-card .fllying-objects.left-side {
  top: 10%;
  left: 9%;
  z-index: 99999;
}

.profile-card .fllying-objects.right-side {
  bottom: 10%;
  right: 5%;
}

@media all and (max-width: 766px) {
  .profile-card {
    width: 100%;
  }
  .profile-card .card_::after {
    left: 0;
    top: 19%;
  }
  .profile-card .border-mobile {
    border-top: 1px solid #f3f3f3;
  }
}

.achievements .badges {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.achievements .badges .badg {
  margin: 0 15px;
  width: 160px;
}

.achievements .badges .badg .badg-name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #564493;
}

@media all and (max-width: 766px) {
  .achievements .badges .badg {
    width: 140px;
  }
}

.achievements .unlocked-achievements .achievement {
  padding: 30px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
          box-shadow: 0px 4px 20px rgba(86, 68, 147, 0.15);
  border-radius: 9px;
}

.achievements .unlocked-achievements .achievement .ach-heading {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #564493;
}

@media all and (max-width: 766px) {
  .achievements .unlocked-achievements .achievement .ach-heading {
    text-align: center;
    margin-bottom: 30px;
  }
}

.achievements .unlocked-achievements .achievement .ach-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.achievements .unlocked-achievements .achievement .ach-text span {
  font-weight: 700;
  color: #564493;
}

.achievements .fllying-objects {
  position: fixed;
}

.achievements .fllying-objects.left-side {
  top: 30%;
  left: 0;
  z-index: -10;
}

@media all and (max-width: 766px) {
  .achievements .fllying-objects.left-side {
    left: -25%;
  }
}

.achievements .fllying-objects.right-side {
  bottom: 20%;
  right: 0;
  z-index: -10;
}

@media all and (max-width: 766px) {
  .achievements .fllying-objects.right-side {
    right: -25%;
  }
}
/*# sourceMappingURL=style.css.map */