body{
    background-color:#F3F6F9;
}

.top-bar{
    background-color: white;
}

.top-bar-text{
    font-size: 20px;
    text-shadow: 1px 1px 3px  gray;
}

.logo{
    background-color: #7F63F4;
}

.invoice{
    background-color:White;
}

#add-product{
    background-color: #d4ffd4;
    width: 249px;
    height:42px;
}

.container-space{
    height:500px;
}

.footer{
    background-color:white;
}